.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 938px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  width: 671px;
  text-decoration: underline !important;
  margin: 79px auto 0;
}

.u-section-1 .u-list-1 {
  width: 976px;
  margin: 141px 56px 60px auto;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(25% - 45px);
  grid-template-columns: calc(25% - 45px) calc(25% - 45px) calc(25% - 45px) calc(25% - 45px);
  grid-gap: 60px 60px;
  min-height: 466px;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 9px 20px 19px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 9px 20px 19px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 9px 20px 19px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-4 {
  padding: 20px 9px 20px 19px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-5 {
  padding: 20px 9px 20px 19px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-6 {
  padding: 20px 9px 20px 19px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-7 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-7 {
  padding: 20px 9px 20px 19px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-btn-13 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-14 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-8 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-8 {
  padding: 20px 9px 20px 19px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-btn-15 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 25px) calc(50% - 25px);
    min-height: 449px;
  }

  .u-section-1 .u-list-item-2 {
    background-size: auto;
  }

  .u-section-1 .u-list-item-3 {
    background-size: auto;
  }

  .u-section-1 .u-list-item-4 {
    background-size: auto;
  }

  .u-section-1 .u-list-item-5 {
    background-size: auto;
  }

  .u-section-1 .u-list-item-6 {
    background-size: auto;
  }

  .u-section-1 .u-list-item-7 {
    background-size: auto;
  }

  .u-section-1 .u-list-item-8 {
    background-size: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 25px);
    min-height: 1376px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-group-1 {
  width: 605px;
  min-height: 52px;
  height: auto;
  margin: 246px auto 60px 170px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 340px;
  margin: 5px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    margin-left: 115px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    width: 320px;
  }
}