.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1018px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  width: 886px;
  margin: 178px auto 0 29px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(50% - 28.5px);
  grid-template-columns: calc(50% - 28.5px) calc(50% - 28.5px);
  grid-gap: 57px 57px;
  min-height: 814px;
  margin-left: 0;
  margin-right: auto;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 86px;
  width: 187px;
  margin: 29px 0 0 auto;
}

.u-section-1 .u-text-1 {
  text-transform: none;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 18px 10px 0;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  height: 86px;
  width: 187px;
  margin: 29px 0 0 auto;
}

.u-section-1 .u-text-2 {
  text-transform: none;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 18px 10px 0;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  height: 86px;
  width: 187px;
  margin: 29px 0 0 auto;
}

.u-section-1 .u-text-3 {
  text-transform: none;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 18px 10px 0;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  height: 86px;
  width: 187px;
  margin: 29px 0 0 auto;
}

.u-section-1 .u-text-4 {
  text-transform: none;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 18px 10px 0;
}

.u-section-1 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-5 {
  height: 86px;
  width: 187px;
  margin: 29px 0 0 auto;
}

.u-section-1 .u-text-5 {
  text-transform: none;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 18px 10px 0;
}

.u-section-1 .u-list-item-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-image-6 {
  height: 86px;
  width: 187px;
  margin: 29px 0 0 auto;
}

.u-section-1 .u-text-6 {
  text-transform: none;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 18px 10px 0;
}

.u-section-1 .u-list-item-7 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-image-7 {
  height: 86px;
  width: 187px;
  margin: 29px 0 0 auto;
}

.u-section-1 .u-text-7 {
  text-transform: none;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 18px 10px 0;
}

.u-section-1 .u-list-item-8 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-image-8 {
  height: 86px;
  width: 187px;
  margin: 29px 0 0 auto;
}

.u-section-1 .u-text-8 {
  text-transform: none;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 18px 10px 0;
}

.u-section-1 .u-social-icons-1 {
  height: 31px;
  min-height: 16px;
  width: 184px;
  min-width: 124px;
  white-space: nowrap;
  margin: -31px 0 0 auto;
}

.u-section-1 .u-icon-1 {
  height: 100%;
  color: rgb(59, 89, 152) !important;
}

.u-section-1 .u-icon-2 {
  height: 100%;
  color: rgb(85, 172, 238) !important;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-1 .u-icon-4 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-1 .u-text-9 {
  font-size: 0.875rem;
  margin: -22px 218px 27px 702px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1040px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 174px;
    margin-left: 21px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 6.66667px);
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 816px;
  }

  .u-section-1 .u-list-item-1 {
    background-size: auto;
  }

  .u-section-1 .u-image-1 {
    height: 98px;
    width: 130px;
    margin-top: 42px;
    margin-right: 11px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 63px;
    margin-left: -12px;
    margin-right: -12px;
  }

  .u-section-1 .u-list-item-2 {
    background-size: auto;
  }

  .u-section-1 .u-image-2 {
    height: 98px;
    width: 130px;
    margin-top: 42px;
    margin-right: 11px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 63px;
    margin-left: -12px;
    margin-right: -12px;
  }

  .u-section-1 .u-image-3 {
    height: 98px;
    width: 130px;
    margin-top: 42px;
    margin-right: 11px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 63px;
    margin-left: -12px;
    margin-right: -12px;
  }

  .u-section-1 .u-image-4 {
    height: 98px;
    width: 130px;
    margin-top: 42px;
    margin-right: 11px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 63px;
    margin-left: -12px;
    margin-right: -12px;
  }

  .u-section-1 .u-image-5 {
    height: 98px;
    width: 130px;
    margin-top: 42px;
    margin-right: 11px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 63px;
    margin-left: -12px;
    margin-right: -12px;
  }

  .u-section-1 .u-image-6 {
    height: 98px;
    width: 130px;
    margin-top: 42px;
    margin-right: 11px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 63px;
    margin-left: -12px;
    margin-right: -12px;
  }

  .u-section-1 .u-image-7 {
    height: 98px;
    width: 130px;
    margin-top: 42px;
    margin-right: 11px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 63px;
    margin-left: -12px;
    margin-right: -12px;
  }

  .u-section-1 .u-image-8 {
    height: 98px;
    width: 130px;
    margin-top: 42px;
    margin-right: 11px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 63px;
    margin-left: -12px;
    margin-right: -12px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-right: auto;
    margin-left: 748px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin: -80px 0 60px 748px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1062px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-top: 204px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 814px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 0;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 0;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    margin-top: 0;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    margin-top: 0;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    margin-top: 0;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-image-8 {
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-8 {
    margin-top: 0;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-right: 0;
    margin-left: 536px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -65px;
    margin-right: 8px;
    margin-left: 526px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1756px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    min-height: 1535px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 346px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1666px;
  }

  .u-section-1 .u-list-1 {
    width: 266px;
    margin-top: 221px;
    margin-left: 74px;
  }

  .u-section-1 .u-repeater-1 {
    grid-gap: 16px 16px;
    min-height: 1355px;
    width: 209px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 16px;
    padding-bottom: 18px;
    padding-left: 20px;
  }

  .u-section-1 .u-image-1 {
    height: 84px;
    width: 161px;
    margin-top: 16px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 16px;
    margin-right: 0;
    margin-left: 4px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 16px;
    padding-bottom: 18px;
    padding-left: 20px;
  }

  .u-section-1 .u-image-2 {
    height: 84px;
    width: 161px;
    margin-top: 16px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 16px;
    margin-right: 0;
    margin-left: 4px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 16px;
    padding-bottom: 18px;
    padding-left: 20px;
  }

  .u-section-1 .u-image-3 {
    height: 84px;
    width: 161px;
    margin-top: 16px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 16px;
    margin-right: 0;
    margin-left: 4px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 16px;
    padding-bottom: 18px;
    padding-left: 20px;
  }

  .u-section-1 .u-image-4 {
    height: 84px;
    width: 161px;
    margin-top: 16px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 16px;
    margin-right: 0;
    margin-left: 4px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 16px;
    padding-bottom: 18px;
    padding-left: 20px;
  }

  .u-section-1 .u-image-5 {
    height: 84px;
    width: 161px;
    margin-top: 16px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 16px;
    margin-right: 0;
    margin-left: 4px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-right: 16px;
    padding-bottom: 18px;
    padding-left: 20px;
  }

  .u-section-1 .u-image-6 {
    height: 84px;
    width: 161px;
    margin-top: 16px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 16px;
    margin-right: 0;
    margin-left: 4px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-right: 16px;
    padding-bottom: 18px;
    padding-left: 20px;
  }

  .u-section-1 .u-image-7 {
    height: 84px;
    width: 161px;
    margin-top: 16px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 16px;
    margin-right: 0;
    margin-left: 4px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-right: 16px;
    padding-bottom: 18px;
    padding-left: 20px;
  }

  .u-section-1 .u-image-8 {
    height: 84px;
    width: 161px;
    margin-top: 16px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 16px;
    margin-right: 0;
    margin-left: 4px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 53px;
    margin-right: auto;
  }

  .u-section-1 .u-text-9 {
    width: 192px;
    margin: -59px auto 43px;
  }
}.border-rounded {
 border-radius: 10px
}