.u-section-1 .u-sheet-1 {
  min-height: 1121px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  width: 442px;
  margin: 216px auto 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(50% - 28.5px);
  grid-template-columns: calc(50% - 28.5px) calc(50% - 28.5px);
  grid-gap: 57px 57px;
  min-height: 802px;
  margin-left: 0;
  margin-right: auto;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 86px;
  width: 187px;
  margin: 26px 0 0 auto;
}

.u-section-1 .u-text-1 {
  text-transform: none;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 18px 15px 0 10px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 0.875rem;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  height: 86px;
  width: 187px;
  margin: 26px 0 0 auto;
}

.u-section-1 .u-text-2 {
  text-transform: none;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 18px 15px 0 10px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  height: 86px;
  width: 187px;
  margin: 26px 0 0 auto;
}

.u-section-1 .u-text-3 {
  text-transform: none;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 18px 15px 0 10px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  height: 86px;
  width: 187px;
  margin: 26px 0 0 auto;
}

.u-section-1 .u-text-4 {
  text-transform: none;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 18px 15px 0 10px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-5 {
  height: 86px;
  width: 187px;
  margin: 26px 0 0 auto;
}

.u-section-1 .u-text-5 {
  text-transform: none;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 18px 15px 0 10px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-image-6 {
  height: 86px;
  width: 187px;
  object-position: 50% 11.55%;
  margin: 26px 0 0 auto;
}

.u-section-1 .u-text-6 {
  text-transform: none;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 18px 15px 0 10px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-7 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-image-7 {
  height: 86px;
  width: 187px;
  margin: 26px 0 0 auto;
}

.u-section-1 .u-text-7 {
  text-transform: none;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 18px 15px 0 10px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-8 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-image-8 {
  height: 86px;
  width: 187px;
  margin: 26px 0 0 auto;
}

.u-section-1 .u-text-8 {
  text-transform: none;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 18px 15px 0 10px;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-9 {
  object-position: 67.83% 50%;
  width: 605px;
  height: 558px;
  margin: -730px 0 0 auto;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 2.25rem;
  letter-spacing: normal;
  margin: 114px 0 60px 764px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1015px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 304px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 6.66667px);
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 676px;
  }

  .u-section-1 .u-list-item-1 {
    background-size: auto;
  }

  .u-section-1 .u-image-1 {
    margin-right: auto;
    margin-left: 10px;
  }

  .u-section-1 .u-list-item-2 {
    background-size: auto;
  }

  .u-section-1 .u-image-2 {
    margin-right: auto;
    margin-left: 10px;
  }

  .u-section-1 .u-image-3 {
    margin-right: auto;
    margin-left: 10px;
  }

  .u-section-1 .u-image-5 {
    margin-right: auto;
    margin-left: 10px;
  }

  .u-section-1 .u-image-6 {
    margin-right: auto;
    margin-left: 10px;
  }

  .u-section-1 .u-image-7 {
    margin-right: auto;
    margin-left: 10px;
  }

  .u-section-1 .u-image-9 {
    margin-top: -336px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -72px;
    margin-bottom: 50px;
    margin-left: 616px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1158px;
  }

  .u-section-1 .u-list-1 {
    width: 504px;
    margin-top: 251px;
    margin-left: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 802px;
  }

  .u-section-1 .u-image-9 {
    margin-top: -409px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin: 38px 184px 9px 203px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1982px;
  }

  .u-section-1 .u-list-1 {
    width: 224px;
    margin-top: 269px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-gap: 24px 24px;
    min-height: 1547px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 27px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 27px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 27px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 27px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 27px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 27px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-9 {
    width: 540px;
    height: 498px;
    margin-top: -1172px;
  }

  .u-section-1 .u-text-9 {
    font-size: 3rem;
    margin: 39px 26px 50px 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2097px;
  }

  .u-section-1 .u-repeater-1 {
    grid-gap: 16px 16px;
    min-height: 1711px;
    width: 209px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 18px;
  }

  .u-section-1 .u-image-1 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    padding: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 18px;
  }

  .u-section-1 .u-image-2 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 18px;
  }

  .u-section-1 .u-image-3 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    margin-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 18px;
  }

  .u-section-1 .u-image-4 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-4 {
    margin-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 18px;
  }

  .u-section-1 .u-image-5 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-5 {
    margin-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 18px;
  }

  .u-section-1 .u-image-6 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-6 {
    margin-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 18px;
  }

  .u-section-1 .u-image-7 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-7 {
    margin-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 18px;
  }

  .u-section-1 .u-image-8 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-8 {
    margin-right: 10px;
  }

  .u-section-1 .u-image-9 {
    width: 340px;
    height: 314px;
    margin-top: -1341px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.875rem;
    margin: 27px 0;
  }
}.border-rounded {
 border-radius: 10px
}
.no-wrap {
  white-space: nowrap;
}